:root{
    --main-bg: #f5ede2;
    --button-bg: #0f2431;
}

/* CONTENT */
.content{
    width: 100vw;
    display: flex;
    flex-direction: column; align-items: center; justify-content: center;
}
.overflow{
    width: 80vw;
    background-color: var(--main-bg);
    transform: translateY(-80px);
}
.overflow h1{
    color: var(--button-bg);
    margin: 15px 35px;
    font-size: 40px;
}
.cards{
    margin-left: 35px;
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.card{
    width: calc((100% - 60px)/3);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    padding-bottom: 20px;
}
.card > img{
    width: 100%;
    border-radius: 10px;
}
.card > h2{
    margin-top: 10px;
    margin-left: 10px;
    color: var(--button-bg);
}
.card > .country{
    margin-top: 5px;
    margin-left: 10px;
    color: var(--button-bg);
}
.card > .weather{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    vertical-align: middle;
}
.card > .icon{
    width: 40px;
}
.card > .currency{
    margin-left: 20px;
}
/* CONTACT */
.contact{
    width: 80vw;
    background-color: var(--main-bg);
    margin-top: 50px;
    padding-left: 60px;
    margin-bottom: 200px;
}
.contact h1{
    color: var(--button-bg);
    font-size: 40px;
}
.contact > .description{
    width: calc(50% - 30px);
    max-width: 400px;
    float: left;
    color: var(--button-bg);
    text-align: justify;
}
.contact > .contract-details{
    float: left;
    margin-left: 100px;
    color: var(--button-bg);
}
.contact > .contract-details > .tel , .mail{
    text-decoration: none;
    color: var(--button-bg);
}
.contact > .contract-details > .page{
    text-decoration: none;
    margin-left: 30px;
    margin-top: 30px;
    color: white;
    background-color: var(--button-bg);
    padding: 5px 10px;
    border-radius: 10px;
}
@media screen and (max-width:1100px) {
    .card{
        width: calc((100% - 30px)/2)
    }
}
@media screen and (max-width: 700px) {
    .overflow{
        transform: translateY(0px);
        width: 100vw;
        padding-top: 30px;
    }
    .overflow h1{
        font-size: 35px;
        margin-top: 0px;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 80%;
    }
    .contact{
        width: calc(100%);
        padding-left: 0;
    }
    .contact h1{
        margin-left: 35px;
    }
    .contact > .description{
        width: calc(100% - 70px);
        margin-left: 35px;
        float: none;
    }
    .contact > .contract-details{
        margin-left: 35px;
        float: none;
        margin-top: 50px;
        width: calc(100% - 70px);

    }
}
@media screen and (max-width: 500px){
    .card{
        width: calc(100%);
    }
}