.menu {
    position: absolute;
    top: 20px;
    width: 80%;
    background: var(--main-bg);
    color: #1A1A1A;
    text-decoration: none;
    padding: 1rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.menu > .current{
    font-weight: bolder;
    color: var(--button-bg);
}
.menu ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a{
    color: #1A1A1A;
    text-decoration: none;
    transition: all 0.5s;
}
.menu a:hover{
    color: var(--button-bg);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.hero-content {
    z-index: 1;
    text-align: center;
    transform: translateY(-10vh);
}
.hero-content h1{
    font-size: 70px;
    color: white;
    text-align: left;
}
.hero-content button{
    background-color: var(--button-bg);
    color: white;
    padding: 15px 20px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}

/* CONTENT */
.content{
    width: 100vw;
    display: flex;
    flex-direction: column; align-items: center; justify-content: center;
}
.overflow{
    width: 80vw;
    height: 400px;
    background-color: var(--main-bg);
    transform: translateY(-80px);
}
.overflow h1{
    color: var(--button-bg);
    margin: 15px 35px;
    font-size: 40px;
}
.cards{
    margin-left: 35px;
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.card{
    width: calc((100% - 60px)/3);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    padding-bottom: 20px;
}
.card > img{
    width: 100%;
    border-radius: 10px;
}
.card > h2{
    margin-top: 10px;
    margin-left: 10px;
    color: var(--button-bg);
}
.card > .country{
    margin-top: 5px;
    margin-left: 10px;
    color: var(--button-bg);
}
.card > .weather{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    vertical-align: middle;
}
.card > .icon{
    width: 40px;
}
.card > .currency{
    margin-left: 20px;
}
/* CONTACT */
.contact{
    width: 80vw;
    background-color: var(--main-bg);
    margin-top: 50px;
}
.contact h1{
    color: var(--button-bg);
}
.contact > .description{
    width: calc(50% - 30px);
    background-color: #1A1A1A;
    float: left;
    padding: 0 10px;
    color: var(--button-bg);
}
.contact > .contract-details{
    width: calc(50% - 30px);
    background-color: #743434;
    float: right;
    padding-right: 30px;
    color: var(--button-bg);
}
