.hero{
    height: 40vh;
}
.hero-content {
    transform: translateY(0);
}
.hero-content button{
    display: none;
}

.cityBtn {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 40px auto 20px;
  font-size: 18px;
  padding: 12px 24px;
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 260px;
  height: 50px;
  text-align: center;
}
.btnText {
  transition: opacity 0.3s ease;
}
.planeIcon {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  opacity: 0;
  transition: left 3s ease, opacity 0.3s ease;
  font-size: 22px;
}
.cityBtn.animating .btnText {
  opacity: 0;
}
.cityBtn.animating .planeIcon {
  opacity: 1;
  left: calc(100% + 10px);
}
.cityCard {
  background: white;
  margin: 20px auto;
  padding: 24px;
  width: 90%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  text-align: center;
  opacity: 0;
  transform: scale(0.98);
  transition: all 0.6s ease;
}
.cityCard.show {
  opacity: 1;
  transform: scale(1);
}
.cityCard img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}
.hidden {
  display: none;
}
