.hero{
    height: 40vh;
}
.hero-content {
    transform: translateY(0);
}
.hero-content button{
    display: none;
}

/* CONTENT */
.content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
}
.content > input{
    margin-top: 50px;
    width: 80vw;
    height: 50px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
}
.content > .searchResults{
    margin-top: 30px;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 30px;
    justify-items: start;
}
.card{
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    padding-bottom: 20px;
    max-width: 300px;
    justify-self:flex-start
}
.card > img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.card > h2{
    margin-top: 10px;
    margin-left: 10px;
    color: var(--button-bg);
}
.card > .country{
    margin-top: 5px;
    margin-left: 10px;
    color: var(--button-bg);
}
.card > .weather{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    vertical-align: middle;
}
.card > .icon{
    width: 40px;
}
.card > .descript{
    margin: 20px;
    text-align: justify;
}
.card > button{
    margin-left: 20px;
    border: none;
    background-color: var(--button-bg);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.result-placeholder{
    position: fixed;
    width: calc(100vw - 150px);
    height: calc(100vh - 150px);
    background-color: var(--main-bg);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow: scroll;
    scrollbar-width: 10px;
    display: none;
    pointer-events: auto;
}
.blur{
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    align-items: center; justify-content: center;
    backdrop-filter: blur(10px);
    pointer-events: none;
    z-index: 999;
    top: 0;
    left: 0;
}

@media screen and (max-width: 700px) {
    .content > .searchResults{
        justify-items: center;
    }
    .result-placeholder{
        height: calc(100vh - 70px);
        width: calc(100vw - 40px);
    }
}